@{
    ViewBag.Title = "Kundvagn";
}

<style>
    table {
        margin-top: 50px;
    }

    th, td {
        padding: 15px 25px;
    }
    .total {
        margin-top: 50px;
        margin-left: 20px;
    }
    .order-btn {
        margin: 40px 20px;        
        width: 536px;
        font-size: 25px;
    }
</style>

<h1>@ViewBag.Message</h1>


@if (System.Web.HttpContext.Current.Session["booksAddedToCart"] != null)
{
  if (System.Web.HttpContext.Current.Session["booksAddedToCart"].ToString() != "[]")
  {


<table>
    <tr>
        <th>Titel</th>
        <th>Författare</th>
        <th>Pris</th>
    </tr>

    @if (ViewBag.BooksInCart == null)
    {
        <tr>BooksInCart är null.</tr>
    }
    else
    {
        foreach (Book item in ViewBag.BooksInCart)
        {
            <tr>
                <td><em>@item.Title</em></td>
                <td>@item.Author</td>
                <td>@item.Price.ToString() SEK</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Home", FormMethod.Post, new { id = "cartForm" }))
                    {
                        <input type="hidden" name="title" value="@item.Title" />
                        <input type="hidden" name="author" value="@item.Author" />
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="instock" value="@item.InStock" />

                        <input type="submit" value="x" />
                    }
                </td>
            </tr>

        }
    }
</table>
<div class="total"><strong>Totalt: </strong>@ViewBag.TotalSum SEK </div>

      using (Html.BeginForm("MakeAnOrder", "Home", FormMethod.Post, new { id = "orderForm" }))
      {
    <input type="submit" value="Gör en beställning" class="order-btn"/>
      }
  }
}


